<ion-tabs class = "tabs-icon-top tabs-color-active-postitive">     <!-- โครงสร้างของionic -->
	<ion-tab title = "Home" icon-off = "ion-home" icon-on = "ion-home" href = "#/tab/home">
		<ion-nav-view name = "t-home"></ion-nav-view name>
	</ion-tab>
	
	<ion-tab title = "Movie" icon-off = "ion-film-marker" icon-on = "ion-film-marker" href = "#/tab/movie">
		<ion-nav-view name = "t-movie"></ion-nav-view name>
	</ion-tab>
	
	<ion-tab title = "User" icon-off = "ion-person" icon-on = "ion-person" href = "#/tab/user">
		<ion-nav-view name = "t-user"></ion-nav-view name>
	</ion-tab>

</ion-tabs>