<ion-view view-title = "{{title}}">
	<ion-content class = "padding">
		<div class="list card">

		  <div class="item">
			<h2>{{title}}</h2>
			<p>{{detail}}</p>
		  </div>
		  
		  <button ng-if="!fav && islogin" class="button icon-left ion-star button-positive" ng-click="clickFav()">Add Favorites</button>
		  <button ng-if="fav && islogin" class="button icon-left ion-star button" ng-click="clickUnFav()">Favorited</button>

		  <div class="item item-image">
			<iframe src="{{youtubeUrl | trustAsResourceUrl}}" frameborder="0" style="width:  100%;height: 250px;"></iframe>
		  </div>

		  <div class="item item-image">
			<img src="{{image}}">
		  </div>

		  <a class="item item-icon-left assertive" >
	
			<i class="icon ion-music-note"></i>
			{{category}}
		  </a>
		  
		  <a class="item item-icon-left assertive" >
	
			<i class="icon ion-clock"></i>
			{{Length}} minutes
		  </a>
		  
		  <a class="item item-icon-left assertive" >
	
			<i class="icon ion-calendar"></i>
			{{ReleaseDate}}
		  </a>

		</div>
		
	</ion-content>
</ion-view>