<ion-view view-title = "Promotion">
	<ion-content class = "padding"  style="background: #EFF1F5">

	<div class="list card">

	  <div class="item item-avatar">
			<img src="img/tag.jpg">
			<h2>Free movie ticket with purchase</h2>
			<p>October 09, 2017</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/promotion1.jpg">
			<p>
			  Receive a free ticket
			 when you purchase 4 specially-marked 
			 boxes of Red Baron
			</p>
		
	  </div>

	</div>


	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/tag.jpg">
		<h2>Free Movie ticket 8,000 seats</h2>
		<p>November 05, 2017</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/promotion2.jpg">
		<p>
		  Receive a free ticket when you purchase 3 sparkling water 44oz. Get Coke, Get Free a movie tcket 8,000 seats
		</p>
	   
	  </div>

	</div>


	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/tag.jpg">
		<h2>Free Movie ticket 1 seats</h2>
		<p>November 10, 2017</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/promotion3.jpg">
		<p>
		  When you purchase 2 seats through KTPS showtime in hand.
		</p>
		
	  </div>

	</div>


	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/tag.jpg">
		<h2>30 days of goodies</h2>
		<p>May 31, 2017</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/promotion4.jpg">
		<p>
		  Buy 1 movie ticket to redeem. Only at TGV Cinemas.
		</p>
		
	  </div>

	</div>
			

			<div class="list card">

	  <div class="item item-avatar">
		<img src="img/tag.jpg">
		<h2>Free Cinema ticket on Sunday</h2>
		<p>June 30, 2017</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/promotion5.jpg">
		<p>
		  With any 4 packs on sweet Sunday.
		</p>
		
	  </div>

	</div>


	<div class="list card">

	  <div class="item item-avatar">
	  <img src="img/coming.jpg"><h1 style=" font-family: Baskerville;">Coming soon</h1>
		<h2>Justice League</h2>
		<p>November 30 2017</p>
	  </div>

	  <div class="item item-image">
		<iframe   width=100% height=250px src="https://www.youtube.com/embed/Jer8XjMrUB4" frameborder="0" ></iframe>
	  </div>
	   <p></p>
	  
	</div>


	<div class="list card">

	  <div class="item item-avatar">
	  <img src="img/coming.jpg">
		<h2>Justice League</h2>
		<p>November 18 2017</p>
	  </div>

	  <div class="item item-image">
		<iframe width=100% height=250px src="https://www.youtube.com/embed/fIHH5-HVS9o" frameborder="0" ></iframe>
	  </div>
	  <p></p>
	 
	</div>

	<div class="list card">

	  <div class="item item-avatar">
	  <img src="img/coming.jpg">
		<h2>Justice League</h2>
		<p>November 20 2017</p>
	  </div>

	  <div class="item item-image">
		<iframe width=100% height=250px src="https://www.youtube.com/embed/pr7tDrwQ3t8" frameborder="0" ></iframe>
	  </div>
	  <p></p>
	 
	</div>

			<hr/>
			<hr/>
			<hr/>

	</ion-content >
</ion-view>
